body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black; /* Cor de fundo da página */
    flex-direction: column;
}

.quadro-do-jogo {
    width: 100%; 
    max-width: 800px; 
    height: 60vh; 
    background-color: #fff; 
    border: 2px solid #000; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.fundojogo{
    background-color: white;
}

.personagem{
    position: absolute;
}

#inimigo{
    position: absolute;
    animation: moveInimigo 10s linear infinite;
    animation-direction: alternate;
}

@keyframes moveInimigo {
    0% {
        left: 270px;
        top: 250px;
    }
    35% {
        left: 700px;
        top: 250px;
    }
    75% {
        left: 700px;
        top: 420px;
    }
    100% {
        left: 330px;
        top: 420px;
    }
    
}


#casa{
    position: absolute;
    width: 500px;
    height: auto;
    top: 20%;
    left: 20%;
}

#personagem{
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    z-index: 8;
    position: relative;
}

.cenario {
    position: relative; 
}

.cenario img {
    position: absolute;
    display: none; 
    width: 100px;
    height: 100px;
}